md-tooltip .md-content {
	white-space: normal;
}
md-tooltip .md-background {
	border-radius: 0;
}

.md-button.md-fab {
	height: 30px;
	width: 30px;
}

.md-button.md-fab > .fa {
	top: -2px;
	position: relative;
}